<h1 class="post-show-title-warpper">온라인집들이 수정하기</h1>
<div class="post-warpper">
  <%= render 'form', post: @post %>
</div>
<div class="post-show-btn">
  <%= link_to '보기', @post %>
  <%= link_to '목록보기', home_index_path %>
</div>
