<h1 class="title"></h1>
<p class="post-sub-title"></p>
<div class="post-warpper">
  <%= render 'form', post: @post %>
</div>

<!--<div class="post-show-btn">-->
  <%#= link_to '뒤로가기', home_index_path %>
<!--</div>-->
