//post_index list
.post-list-item {
  width: 1179px;
  display: flex;
  flex-wrap: wrap;
}
.post-list-content {
  width: 393px;
  margin-top: 30px;
  cursor: pointer;
  .post-thumb-image {
    margin-top: 10px;
    text-align: center;
    img{
      width: 373px;
      height: 373px;
    }
  }
  .post-list-title {
    margin: 20px 0 0 10px;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
  .post-list-user-photo {
    background-image: url("/assets/ic_review_event.jpg");
    margin: -5px 0 0 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-size: cover;
    margin-right: 10px;
    background-position: center;
    background-color: #35C5F0;
  }
  .post-list-user-name {
    vertical-align: top;
  }
  .post-list-description {
    margin: 20px 0 0 10px;
    width: 373px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-size: 14px;
    color: #424242;
    line-height: 18px;
  }
  .post-list-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
    a {
      font-size: 14px;
      color: #35C5F0;
      font-weight: bold;
      margin-right: 20px;
    }
  }
}
.post-list-content:hover{
  background-color: #eeeeee;
  border-radius: 10px;
}

//post show
.post-warpper {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  .post-show-item-warpper {
    margin-bottom: 100px;
  }
}

.post-show-title {
  padding: 50px 0 30px 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.post-show-content-description {
  margin-top: 30px;
  line-height: 20px;
}

.post-new-btn {
  display: inline-block;
  border-radius: 2px;
  padding: 10px 30px 10px 30px;
  background-color: #35C5F0;
  border-color: #35C5F0;
  text-align: center;
  cursor: pointer;
}
.post-show-btn {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
//post-_form
.post-form-cover-warpper {
  position: relative;
  margin-bottom: 50px;
  .post-form-cover {
    height: 430px;
    border-radius: 10px;
    background: #dcdcdc;
    background-size: cover;
    background-position: center;
    position: relative;
    .post-form-cover-icon {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 45%;
      left: 0;
      right: 0;
    }
    .post-form-cover-file-field {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.post-form-title-warpper {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35C5F0;
  font-weight: bold;
  text-decoration: underline;
  .post-form-title {
    width: 590px;
    height: 39px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #dcdcdc;
  }
  input:focus {
    outline: none;
  }
}
.post-form-content-warpper {
  width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  .post-form-content-text {
    padding: 20px;
    width: 550px;
    height: 200px;
    white-space:normal;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    resize: none;
  }
  textarea:focus {
    outline: none;
  }

  .post-form-content-description {
    color: #424242;
    text-align: center;
    margin-top: 20px;
    line-height: 22px;
  }
}

.post-new-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #F7F7F7;
  font-size: 14px;
}

.post-form-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    font-size: 14px;
    color: #35C5F0;
    font-weight: bold;
    margin-right: 20px;
  }
}

.add-post-item .icon {
  width: 32px;
  height: 30px;
  background-image: url("/assets/icon_map/icon-editor@2x.png");
  background-size: 400px;
  background-position: top -74px left 0;
  cursor: pointer;
}
.post_item_delete {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  line-height: 30px;
  background-color: rgb(255, 119, 119);
  color: #ffffff;

}
.remove-post-item {
  width: 32px;
  height: 30px;
  background-image: url("/assets/icon_map/icon-editor@2x.png");
  background-size: 400px;
  background-position: top -74px left -60px;
  cursor: pointer;
}
.add-post-item .uploadPostItemImage {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.post-item-content-warpper {
  position: relative;
}
.post-item-content-warpper .uploadPostItemImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

// edit
.post-warpper {
  position: relative;
  .post-form-cover-warpper {
    .post-form-cover-icon {
      position: absolute;
    }
   .post-form-cover {
     width: 100%;
     background-size: cover;
   }
  }
}
