.post-warpper {
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
.post-new-btn {
  display: inline-block;
  border-radius: 2px;
  padding: 10px 30px 10px 30px;
  background-color: #35C5F0;
  border-color: #35C5F0;
  text-align: center;
  cursor: pointer;
}
.post-list-title {
  font-size: 22px;
  font-weight: bold;
}
.post-list-content {
  display: flex;
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #EEE;
}
.post-thumb-image {
  margin-right: 20px;
  img{
    width: 150px;
    height: 150px;
  }
}
.post-list-description {
  margin-top: 10px;
  font-size: 14px;
  color: #424242;
}
.post-list-btn {
  margin-top: 10px;
  text-align: right;
  a {
    font-size: 14px;
    color: #35C5F0;
    font-weight: bold;
    margin-right: 20px;
  }
}
//post-edit
.post-show-cover-warpper {
  margin-bottom: 50px;
  .post-show-cover {
    height: 430px;
    border-radius: 10px;
    background: #dcdcdc;
    background-size: cover;
    background-position: center;
    position: relative;
    .post-show-cover-icon {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 45%;
      left: 0;
      right: 0;
    }
    .qnq-show-cover-file-field {
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.post-show-title-warpper {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35C5F0;
  font-weight: bold;
  text-decoration: underline;
  .post-show-title {
    width: 590px;
    height: 39px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #dcdcdc;
  }
  input:focus {
    outline: none;
  }
}
.post-show-content-warpper {
  width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  .post-show-content-text {
    padding: 20px;
    width: 550px;
    height: 200px;
    white-space:normal;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    resize: none;
  }
  textarea:focus {
    outline: none;
  }

  .post-show-content-description {
    color: #424242;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
  }
}

.post-new-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #F7F7F7;
  font-size: 14px;
}

.post-show-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    font-size: 14px;
    color: #35C5F0;
    font-weight: bold;
    margin-right: 20px;
  }
}
