// Place all the styles related to the post_itme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-item-title-warpper {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35C5F0;
  font-weight: bold;
  input:focus {
    outline: none;
  }
  .post-item-title {
    width: 590px;
    height: 39px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-left: 2px solid #dcdcdc;
    padding-left: 10px;
  }
}
.post-item-content-warpper {
  .image-preview {
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    width: 590px;
    height: 500px;
    background-size: cover;
  }
}
.post-item-content-text {
  margin-top: 30px;
  width: 590px;
  white-space:normal;
  height: 100px;
  font-size: 15px;
  border: none;
  resize: none;
}
textarea:focus {
  outline: none;
}
